.App {
  text-align: center;
  margin: auto;
}

h1{
  margin: auto;
width: 60%;
  background-color: royalblue;
  text-align: center;
}
 
  

.movies{
  text-align: center;
  width:60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  
 
}
.mov{
  background-color: royalblue;
  padding:30px;
display:flex;
flex-direction: column;
justify-content: space-between;
}
header{
  text-align: center;
  width:60%;
  margin:auto;
}
#montext{
  text-align: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  text-align: center;
}
.search{
  margin: auto;
  width: 60%;
}